# 1. Her şeyi görmezden gel
/*

# 2. İstisnaları tanımla (Bunların gitmesine izin ver)
!/src/
!/pom.xml
!/.gitignore
!/README.md

# 3. Eğer docker klasöründe Dockerfile gibi önemli dosyaların varsa izin ver
# !/docker/
# Ama içindeki database verilerini mutlaka engelle
/docker/postgresql/data/

# 4. IDE ve Sistem dosyalarını her ihtimale karşı yine de engelle
.idea/
target/
*.iml
.DS_Store